<!DOCTYPE html>
<html data-mode="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Blog Kurin</title>
    <script>
      window.originTitle = 'Blog Kurin';
    </script>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div id="root"></div>
    <!-- built files will be auto injected -->

    <% if (typeof context === 'object' && context.builder === 'vite') { %>
      <script type="module" src="/src/index.ts"></script>
      <script>window.global = window;</script>
    <% } %>
  </body>
</html>
